
.community-head{
  background-image: url('https://media.istockphoto.com/id/1339787499/photo/empty-dark-blue-studio-room-with-light-and-shadow-abstract-background-copy-space-studio-room.jpg?b=1&s=612x612&w=0&k=20&c=9ERC58j5zAEfISv_uhShkq0cBkg4MelqokeJ0MAQmFc='); /* Replace with a valid image URL */
  background-size: cover;
  padding: 20px;
  color: white;
  width: 100%;
}
@media screen and (max-width:414px) {
  .chat-a{
    width: 90%;
  }
}
@media screen and (min-width: 1760px) {
  .community-head {
    padding: 40px;
    font-size: 36px;
  }
  .community-head h1 {
    font-size: 3.5rem;
  }
  .head h1{
    font-size: 2.5rem !important;
  }
  .name h1{
    font-size: 1.9rem !important;
  }
  .name span{
    font-size: 1.5rem !important;
  }
  
  .community-head p {
    font-size: 1.5rem;
  }
  .chat-a {
    width: 75%;
  }
 
  .community-head img {
    width: 50px;
    height: 50px;
  }
  /* .community-head .text-[20px] {
    font-size: 24px;
  } */
}
